<script src="siadinAPI.js"> </script>
<div id='mhs'></div>
<div id='mhsTable'></div>
<script>
siadinAPI.url='http://dinus.ac.id/androidAPI/index.php';
var param={
	username:'B12.2011.01967',
	password:'b12.2011.01967',
	fields:"nim,nama"
};
//siadinAPI.debug="ON";
siadinAPI.cekLogin(function(response){
	if(response=="OK")
	{
		
		siadinAPI.call('get','kartu_ujian_mid',null,function(response){
			siadinAPI.renderTable('mhs',response.data);
		});
	}
});

</script>